<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <record id="action_open_venta" model="ir.actions.act_window">
        <field name="name">Venta</field>
        <field name="res_model">venta</field>
        <field name="view_mode">tree,form,pivot</field>
    </record>

    <record id="action_open_arma" model="ir.actions.act_window">
        <field name="name">Arma</field>
        <field name="res_model">arma</field>
        <field name="view_mode">kanban,form,tree</field>
    </record>

    <record id="action_open_armadura" model="ir.actions.act_window">
        <field name="name">Armadura</field>
        <field name="res_model">armadura</field>
        <field name="view_mode">kanban,form,tree</field>
    </record>

    <record id="action_open_medicamento" model="ir.actions.act_window">
        <field name="name">Medicamento</field>
        <field name="res_model">medicamento</field>
        <field name="view_mode">kanban,form,tree</field>
    </record>

    <record id="action_open_usuario" model="ir.actions.act_window">
        <field name="name">Usuario</field>
        <field name="res_model">usuario</field>
        <field name="view_mode">tree,form</field>
    </record>


    <menuitem id="menu_principal" name="Juegos"/>
    <menuitem id="menu_horizontal_venta" name="Ventas" parent="menu_principal" action="action_open_venta"/>
    <menuitem id="menu_horizontal_usuario" name="Usuarios" parent="menu_principal" action="action_open_usuario"/>
    <menuitem id="menu_horizontal_equipamiento" name="Equipamiento" parent="menu_principal"/>
    <menuitem id="menu_vertical_arma" name="Arma" parent="menu_horizontal_equipamiento" action="action_open_arma"/>
    <menuitem id="menu_vertical_armadura" name="Armadura" parent="menu_horizontal_equipamiento" action="action_open_armadura"/>
    <menuitem id="menu_vertical_medicamento" name="Medicamento" parent="menu_horizontal_equipamiento" action="action_open_medicamento"/>

</odoo>